@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,400;1,300&display=swap');

:root {
  
  --primary-color: #2F6690   ;
  --secondary-color: #81C3D7 ;
  --accent1-color: #FFEAEE;
  --accent2-color: #DAEFB3;

  
  --heading-font: "Montserrat";
  --paragraph-font: Roboto, HelveticaROV, sans-serif;

  
  --headline-color-on-white: #2F6690;  
  --headline-color-on-color: white; 
  --paragraph-color-on-white: #396E94; 
  --paragraph-color-on-color: white; 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}
body{
    background-color: var(--accent1-color);
}
 h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
  }
  header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
    display: grid;
    grid-template-columns: 1fr 5fr;
    
  
}
  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  .logo{
      width: 100%;
      padding-top: 10%;
  }
      
#logo-link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;}
    
    main section img{
        box-sizing: border-box;
    }

    .a380{
        grid-column: 2/4;
        grid-row: 1/2;
        padding-top: 10px;
    }
    .plane-img{
        width: 300px;
        box-sizing: border-box;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #6f7364;
        
        
    }
    h2{
        text-align: center;
    
    }
    .b747{
        grid-column: 5/7;
        grid-row: 1/2;
        padding-top: 10px;
    }
    .a350{
        grid-column: 8/10;
        grid-row: 1/2;
        padding-top: 10px;
    }
    .b787{
        grid-column: 2/4;
        grid-row: 2/3;
        padding-top: 10px;
    }
    .b777{
        grid-column: 5/7;
        grid-row: 2/3;
        padding-top: 10px;
    }
    .a340{
        grid-column: 8/10;
        grid-row: 2/3;
        padding-top: 10px;
    }
    .b737{
        grid-column: 2/4;
        grid-row: 3/4;
        padding-top: 10px;
    }
    .blackbird{
        grid-column: 5/7;
        grid-row: 3/4;
        padding-top: 10px;
    }
    .lakota{
        grid-column: 8/10;
        grid-row: 3/4;
        padding-top: 10px;
    }
    main h2{
        color: #2F6690
    }
    footer{
        background-color: #2F6690;
        color: #343C78;
        padding: 25px 50px;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        text-align: left
    }
    footer a {
        color: #ffffff;
        text-decoration: none;
    }
    footer a:hover{
        color: #343C78;
    text-decoration: underline;

    }
    footer p{
        font-size: 1.7em;
    }
    .plane-img:hover {
        opacity: .6;
        transform: scale(1.1);
    }
    nav a:hover{
        background-color: #ffffff;
        color: #343C78;      
    }
    
