main{
   display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gray;
}
body {
    display: block;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
    height: 100%;
}
.cherry{
    grid-column: 1;
    grid-row: 1/3;
    background-color: white;
}
:right{
    background-color: gray;
    text-align: end;
} 
h2{
    color: rgb(214, 36, 36);
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    bottom: 70px;
    position: relative;
    letter-spacing: 12px;
    font-size: 75px;

    
}
h1{
    text-align: center;
    color: black;
    grid-row: 1;
    font-size: 170px;
    z-index: 100;
    padding-top: 20px;
    letter-spacing: 16px;
    grid-column: 1/-1;

}
